.wp-meetup-event {
    background: rgba(230, 230, 230, .7);
    border-radius: 5px;
    box-shadow: 0 0 5px 1px rgba(0,0,0,.3);
    padding: 1.625em 1.625em 0;
    margin: 0 1.625em .75em 0;
    float: left;
    width: 230px;
}
.wp-meetup-event a.wp-meetup-event-link {
    display: block;
    width: 80%;
    padding: 5px 10%;
    text-align: center;
    background: #E51937;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px rgba(0,0,0,.3);
    color: #fff;
    margin: 0 0 1.625em;
}
.wp-meetup-event dl.wp-meetup-event-details {
    margin: 0;
}
.wp-meetup-event dl.wp-meetup-event-details dt {
    font-weight: bold;
}
.wp-meetup-event dl.wp-meetup-event-details dd {
    margin: 0 0 1.625em;
}

.wp-meetup-plug {
    font-size: .65em;
    color: #666;
    text-align: right;
}

#wp-meetup-calendar table {
    background: #fff;
}
#wp-meetup-calendar td {
    width: 14%;
    font-size: .75em;
    height: 5em;
    vertical-align: top;
}
#wp-meetup-calendar td.weekend {
    
}
#wp-meetup-calendar td.out-of-range {
    background: #f6f6f6;
}
#wp-meetup-calendar td.today {
    background: #eeeeff;
}
#wp-meetup-calendar td ul {
    margin: 0 auto;
}
#wp-meetup-calendar td ul li {
    list-style: none;
    margin-bottom: 1.5em;
}
#wp-meetup-calendar td ul li:last-child {
    margin-bottom: 0;
}
#wp-meetup-calendar td ul li a {
    display: block;
    color: #ddd;
    background: #E51937;
    border-radius: 5px;
    padding: 3px;
    box-shadow: 0 0 5px 1px rgba(0,0,0,.3);
    text-decoration: none;
}
#wp-meetup-calendar td ul li a:hover {
    color: #fff;
    box-shadow: 0 0 5px 1px rgba(102, 153, 255, 1);
}
#wp-meetup-calendar td ul li.past a {
    background: #ccc;
    color: #333;
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.2);
}
#wp-meetup-calendar td li span {
    display: block;
    font-weight: bold;
}

#wp-meetup-widget-calendar {    
}
#wp-meetup-widget-calendar table {
    width: 100%;
}
#wp-meetup-widget-calendar table caption {
    text-align: center;
    font-weight: bold;
}
#wp-meetup-widget-calendar thead {
    background: #E51937;
    color: #fff;
}
#wp-meetup-widget-calendar th {
    font-weight: bold;
}
#wp-meetup-widget-calendar th, #wp-meetup-widget-calendar td {
    padding: 3px;
}