/**
 * Event post meta box
 */

.wp-meetup-event {
    background: rgba(230, 230, 230, .7);
    border-radius: 5px;
    box-shadow: 0 0 5px 1px rgba(0,0,0,.3);
    padding: 1.625em 1.625em 0;
    margin: 0 1.625em .75em 0;
    float: left;
    width: 230px;
}
.wp-meetup-event a.wp-meetup-event-link {
    display: block;
    width: 80%;
    padding: 5px 10%;
    text-align: center;
    background: #E51937;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px rgba(0,0,0,.3);
    color: #fff;
    margin: 0 0 1.625em;
}
.wp-meetup-event a.wp-meetup-event-link-small {
	vertical-align: top;
}
.wp-meetup-event dl.wp-meetup-event-details {
    margin: 0;
}
.wp-meetup-event dl.wp-meetup-event-details dt {
    font-weight: bold;
}
.wp-meetup-event dl.wp-meetup-event-details dd {
    margin: 0 0 1.625em;
}

/**
 * Plug at the end of posts
 */
.wp-meetup-plug {
    font-size: .65em;
    color: #666;
    text-align: right;
}

/**
 * Shortcode page calendar
 */
ul#wp-meetup-groups {
    list-style: none;
    margin: 0 0 1.625em 0;
}
ul#wp-meetup-groups li a {
    padding-left: 5px;
}
#wp-meetup-calendar table {
    background: #fff;
}
#wp-meetup-calendar td {
    width: 14%;
    font-size: .75em;
    height: 5em;
    vertical-align: top;
}
#wp-meetup-calendar td.weekend {
    
}
#wp-meetup-calendar td.out-of-range {
    background: #f6f6f6;
}
#wp-meetup-calendar td.today {
    background: #eeeeff;
}
#wp-meetup-calendar td ul {
    margin: 0 auto;
}
#wp-meetup-calendar td ul li {
    list-style: none;
    margin-bottom: 1.5em;
}
#wp-meetup-calendar td ul li:last-child {
    margin-bottom: 0;
}
#wp-meetup-calendar td ul li a {
    display: block;
    color: #ddd;
    background: #E51937;
    border-radius: 5px;
    padding: 3px;
    box-shadow: 0 0 5px 1px rgba(0,0,0,.3);
    text-decoration: none;
}
#wp-meetup-calendar td ul li a:hover {
    color: #fff;
    box-shadow: 0 0 5px 1px rgba(102, 153, 255, 1);
}
#wp-meetup-calendar td ul li.past a {
    background: #ccc;
    color: #333;
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.2);
}
#wp-meetup-calendar td li span {
    display: block;
    font-weight: bold;
}

/**
 * Widget calendar
 */
#wp-meetup-widget-calendar {    
}
#wp-meetup-widget-calendar table {
    width: 100%;
}
#wp-meetup-widget-calendar table caption {
    text-align: center;
    font-weight: bold;
}
#wp-meetup-widget-calendar thead {
    background: #E51937;
    color: #fff;
}
#wp-meetup-widget-calendar th {
    font-weight: bold;
}
#wp-meetup-widget-calendar th, #wp-meetup-widget-calendar td {
    padding: 3px;
}

/**
 * Upcoming events widget
 */
#wp-meetup-upcoming-events-list {
    list-style: none;
}
#wp-meetup-upcoming-events-list li {
    margin-bottom: 1.5em;
    margin-left: 55px;
    clear: both;
}
#wp-meetup-upcoming-events-list li div {
    margin-left: -55px;
    float: left;
    background: #e51937;
    color: #fff;
    width: 40px;
    margin-bottom: 1.5em;
    border-radius: 5px;
    padding: 3px;
    box-shadow: 0 0 5px 1px rgba(0,0,0,.3);
}
#wp-meetup-upcoming-events-list li div span {
    display: block;
    text-align: center;
}
#wp-meetup-upcoming-events-list li div span.month {
    font-weight: bold;
}
#wp-meetup-upcoming-events-list li div span.date {
    font-size: 2em;
    line-height: 1em;
}

/**
 * Admin area
 */
#wp-meetup-container {
    margin-left: 380px;
}
#wp-meetup-container.sidebar-right {
    margin-right: 380px;
    margin-left: 0px;
}
#wp-meetup-container > div {
    
}
#wp-meetup-container div.sidebar {
    float: left;
    margin-left: -380px;
    width: 320px;
}
#wp-meetup-container.sidebar-right div.sidebar {
    float: right;
    margin-left: 0px;
    margin-right: -380px;
}

/* Page: WP Meetup */
.publish_options_info {
    color: #666;
}
#wp-meetup-social {
    
}
#wp-meetup-social .fb-like {
    margin-top: 3px;
}
#wp-meetup-social > div {
    float: left;   
}

/* Page: Events */
/* Page: Groupo */
/* Page: Dev support */
#wp-meetup-support-us {
    padding: 20px;
}
.wrap.bad-person #wp-meetup-support-us {
    background: #c33;
    
    color: #fff;
}
.wp-meetup-caption {
    border: 1px solid #ccc;
    padding: 20px;
    -moz-box-shadow: 2px 2px 2px #ccc;
    -webkit-box-shadow: 2px 2px 2px #ccc;
    box-shadow: 2px 2px 2px #ccc;
    background: #fff;
}
.wp-meetup-caption img {
    width: 268px;
}
.wp-meetup-caption p {
    margin-bottom: 0;
    color: #000;
}
